.section {
  background-color: #f1f6ff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
  align-items: start;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.imageWrapper {
  width: 100%;
  height: auto;
  border-radius: 14px;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.form {
  background: var(--color-white);
  border-radius: var(--radius-lg);
  padding: var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-5);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  min-width: 0;
}

.field label {
  font-size: var(--text-md);
  font-weight: var(--font-weight-medium);
  color: #000000;
}

.required {
  color: #e5484d;
}

.field input,
.field textarea {
  width: 100%;
  border: 1px solid #f0efef;
  border-radius: var(--radius-md);
  padding: var(--space-3) var(--space-4);
  font-size: var(--text-xs);
  font-weight: var(--font-weight-regular);
  background: var(--color-white);
  outline: none;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  font-family: "Manrope", sans-serif;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #707070;
}

.field input:focus,
.field textarea:focus {
  border-color: none;
  /* box-shadow: 0 0 0 3px rgba(47, 111, 237, 0.12); */
}

.field textarea {
  resize: vertical;
  min-height: 120px;
}

.submitButton {
  width: 100%;
  background: var(--color-secondary);
  color: var(--color-white);
  border: none;
  font-family: "Manrope", sans-serif;
  border-radius: var(--radius-md);
  padding: var(--space-3-5) var(--space-6);
  font-size: var(--text-xs);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background: var(--color-secondary);
}

.submitButton:active {
  background: var(--color-secondary);
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .panel {
    padding: var(--space-8) var(--space-6);
  }

  .formRow {
    grid-template-columns: 1fr;
  }
}
