.heroImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.imageCol {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 90%;
  gap: var(--space-40);
}

.content > * {
  flex-shrink: 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
