.section {
  background-color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 48px;
}

.title {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}

.subtitle {
  color: var(--color-white);

  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.whyBestChargeItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.card {
  background-color: var(--color-white);
  border-radius: 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  box-shadow: 0px 2px 12px 0px #0000001a;
}

.icon {
  width: 48px;
  height: 48px;
  background-color: var(--color-secondary);
  border-radius: 12px;
  padding: 14px;
  box-sizing: border-box;
  object-fit: contain;
  margin-bottom: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.cardTitle {
  color: #163b7c;
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

.cardDescription {
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1.4;
}

@media (max-width: 900px) {
  .whyBestChargeItems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .whyBestChargeItems {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 26px;
  }
}
